
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/set1.css">
  <link rel="stylesheet" href="/assets/style.scss">

</head>
<div class="container-fluid section-title ">
      <div class="container py-4">
        <h3 class="text-center trending-section">It's All About <span>Dining</span></h3>
        <hr>
      </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col col-md-6 d-flex justify-content-center">
      <div class="grid">
        <figure class="effect-roxy">
          <img src="/assets/c.jpg" style="width:600px; height:500px;" alt="img15">
          <figcaption>
            <h2><span class="text-color-effect">C</span>hairs <span></span></h2>
            
            <a href="/welcome/chair">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col col-md-6 d-flex justify-content-center">
      <div class="grid">
        <figure class="effect-roxy">
          <img src="/assets/d.jpg" style="width:600px; height:500px;" alt="img15">
          <figcaption>
            <h2><span class="text-color-effect">D</span>ining <span>table Sets</span></h2>
            
            <a href="/welcome/dt">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>



<div class="container my-5">
  <div class="row">
    <div class="col col-md-6 d-flex justify-content-center">
      <div class="grid">
        <figure class="effect-roxy">
          <img src="/assets/b.jpg" style="width:600px; height:500px;" alt="img15">
          <figcaption>
            <h2><span class="text-color-effect">B</span>enches <span></span></h2>
            
            <a href="/welcome/bench">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>


        <div class="col col-md-6 d-flex justify-content-center">
      <div class="grid">
        <figure class="effect-roxy">
          <img src="/assets/t.jpg" style="width:600px; height:500px;" alt="img15">
          <figcaption>
            <h2><span class="text-color-effect">T</span>able <span></span></h2>
            
            <a href="/welcome/bst">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>


  </div>
</div>