<body class="animsition">


  <!-- Slide1 -->
  <section class="slide1">
    <div class="wrap-slick1">
      <div class="slick1">
        <div class="item-slick1 item1-slick1" style="background-image: url(/assets/111.jpg);">
          <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
            <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
              Winter Collection 2019
            </span>

            <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
              New arrivals
            </h2>

            <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
              <!-- Button -->
              <a href="/welcome/merrychristmas" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                Shop Now
              </a>
            </div>
          </div>
        </div>

        <div class="item-slick1 item2-slick1" style="background-image: url(/assets/mb2.jpg);">
          <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
            <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rollIn">
              Sofa Collection 2019
            </span>

            <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
              New arrivals
            </h2>

            <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
              <!-- Button -->
              <a href="/welcome/lss" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                Shop Now
              </a>
            </div>
          </div>
        </div>




        <div class="item-slick1 item2-slick1" style="background-image: url(/assets/mb3.jpg);">
          <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
            <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rollIn">
              Royal Collection 2019.
            </span>

            <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
              New arrivals
            </h2>

            <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
              <!-- Button -->
              <a href="/welcome/tss" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                Shop Now
              </a>
            </div>
          </div>
        </div>

        <div class="item-slick1 item3-slick1" style="background-image: url(/assets/mb4.jpg);">
          <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
            <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
              Latest Collection 2019
            </span>

            <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
              New arrivals
            </h2>

            <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn">
              <!-- Button -->
              <a href="/welcome/stb" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                Shop Now
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Banner -->
  <section class="banner bgwhite p-t-40 p-b-40">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
          <!-- block1 -->
          <div class="block1 hov-img-zoom pos-relative m-b-30">
            <img src="/assets/banner-02.jpg" alt="IMG-BENNER">

            <div class="block1-wrapbtn w-size2">
              <!-- Button -->
              <a href="/welcome/chair" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                Chairs
              </a>
            </div>
          </div>

          <!-- block1 -->
          <div class="block1 hov-img-zoom pos-relative m-b-30">
            <img src="/assets/banner-05.jpg" alt="IMG-BENNER">

            <div class="block1-wrapbtn w-size2">
              <!-- Button -->
              <a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                Stylish Living
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
          <!-- block1 -->
          <div class="block1 hov-img-zoom pos-relative m-b-30">
            <img src="/assets/banner-03.jpg" alt="IMG-BENNER">

            <div class="block1-wrapbtn w-size2">
              <!-- Button -->
              <a href="/welcome/sofas" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                Sofas
              </a>
            </div>
          </div>

          <!-- block1 -->
          <div class="block1 hov-img-zoom pos-relative m-b-30">
            <img src="/assets/banner-07.jpg" alt="IMG-BENNER">

            <div class="block1-wrapbtn w-size2">
              <!-- Button -->
              <a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                Classic Bedrooms
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
          <!-- block1 -->
          <div class="block1 hov-img-zoom pos-relative m-b-30">
            <img src="/assets/banner-04.jpg" alt="IMG-BENNER">

            <div class="block1-wrapbtn w-size2">
              <!-- Button -->
              <a href="/welcome/stb" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                Beds
              </a>
            </div>
          </div>

          <!-- block2 -->
          <div class="block2 wrap-pic-w pos-relative m-b-30">
            <img src="/assets/bg-01.jpg" alt="IMG">

            <div class="block2-content sizefull ab-t-l flex-col-c-m">
              <h4 class="m-text4 t-center w-size3 p-b-8">
                Sign up & get 20% off
              </h4>

              <p class="t-center w-size4">
                Be the frist to know about the latest fashion news and get exclu-sive offers
              </p>

              <div class="w-size2 p-t-25">
                <!-- Button -->
                <a href="/users/sign_up" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                  Sign Up
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- New Product -->
  <section class="newproduct bgwhite p-t-45 p-b-105">
    <div class="container">
      <div class="sec-title p-b-60">
        <h3 class="m-text5 t-center">
          Featured Products
        </h3>
      </div>

      <!-- Slide2 -->
      <div class="wrap-slick2">
        <div class="slick2">

          <div class="item-slick2 p-l-15 p-r-15">
            <!-- Block2 -->
            <div class="block2">
              <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                <img src="https://theddbucket.s3.amazonaws.com/uploads/product/image/123/1.jpg" alt="IMG-PRODUCT">

                <div class="block2-overlay trans-0-4">
                  <a href="/products/123" class="block2-btn-addwishlist hov-pointer trans-0-4">
                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                  </a>

                  <div class="block2-btn-addcart w-size1 trans-0-4">
                    <!-- Button -->
                      <a href="/products/123" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                      Add to Cart
                      </a>
                    
                  </div>
                </div>
              </div>

              <div class="block2-txt p-t-20">
                <a href="/products/123" class="block2-name dis-block s-text3 p-b-5">
                  DennyDots Thomas chair
              
              </a>
              Our Price:
                <span class="block2-oldprice m-text7 p-r-5">
                 Rs 32,800
                </span>
                <br>

                <span class="block2-newprice m-text8 p-r-5" style="color:#FF9E1B;">
                  Offer Price: Rs 19,680
                </span>
              </div>
            </div>
          </div>

          <div class="item-slick2 p-l-15 p-r-15">
            <!-- Block2 -->
            <div class="block2">
              <div class="block2-img wrap-pic-w of-hidden pos-relative">
                <img src="https://theddbucket.s3.amazonaws.com/uploads/product/image/73/5.1_Edietd.jpg" alt="IMG-PRODUCT">

                <div class="block2-overlay trans-0-4">
                  <a href="/products/74" class="block2-btn-addwishlist hov-pointer trans-0-4">
                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                  </a>

                  <div class="block2-btn-addcart w-size1 trans-0-4">
                    <!-- Button -->
                    <a href="/products/74" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                      Add to Cart
                      </a>
                  </div>
                </div>
              </div>

              <div class="block2-txt p-t-20">
                <a href="/products/74" class="block2-name dis-block s-text3 p-b-5">
                  Denny Dots Pride Sofa 
                </a>
                Our Price:
                <span class="block2-oldprice m-text7 p-r-5">
                 Rs 68,500
                </span>
                <br>

                <span class="block2-newprice m-text8 p-r-5" style="color:#FF9E1B;">
                  Offer Price: Rs. 27,400
                </span>
              </div>
            </div>
          </div>

          <div class="item-slick2 p-l-15 p-r-15">
            <!-- Block2 -->
            <div class="block2">
              <div class="block2-img wrap-pic-w of-hidden pos-relative">
                <img src="https://theddbucket.s3.amazonaws.com/uploads/product/image/94/os3.jpg" alt="IMG-PRODUCT">

                <div class="block2-overlay trans-0-4">
                  <a href="/products/94" class="block2-btn-addwishlist hov-pointer trans-0-4">
                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                  </a>

                  <div class="block2-btn-addcart w-size1 trans-0-4">
                    <!-- Button -->
                    <a href="/products/94" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                      Add to Cart
                      </a>
                  </div>
                </div>
              </div>

              <div class="block2-txt p-t-20">
                <a href="/products/94" class="block2-name dis-block s-text3 p-b-5">
                  DennyDots Zuo Sofa 
                </a>
                Our Price:
                <span class="block2-oldprice m-text7 p-r-5">
                 Rs 1,24,900
                </span>
                <br>

                <span class="block2-newprice m-text8 p-r-5" style="color:#FF9E1B;">
                  Offer Price: Rs. 49,960
                </span>
              </div>
            </div>
          </div>

          <div class="item-slick2 p-l-15 p-r-15">
            <!-- Block2 -->
            <div class="block2">
              <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
                <img src="https://theddbucket.s3.amazonaws.com/uploads/product/previewo/115/1.jpg" alt="IMG-PRODUCT">

                <div class="block2-overlay trans-0-4">
                  <a href="/products/115" class="block2-btn-addwishlist hov-pointer trans-0-4">
                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                  </a>

                  <div class="block2-btn-addcart w-size1 trans-0-4">
                    <!-- Button -->
                    <a href="/products/115" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                      Add to Cart
                      </a>
                  </div>
                </div>
              </div>

              <div class="block2-txt p-t-20">
                <a href="/products/115" class="block2-name dis-block s-text3 p-b-5">
                  Denny Dots Melrose Sofa
                </a>
                Our Price:
                <span class="block2-oldprice m-text7 p-r-5">
                   Rs 78,900
                </span>
                <br>

                <span class="block2-newprice m-text8 p-r-5" style="color:#FF9E1B;">
                  Offer Pric: Rs 47,340
                </span>
              </div>
            </div>
          </div>

          

    </div>
  </section>
<hr>
<section class="newproduct bgwhite p-t-45 p-b-105">
    <div class="container">
      <div class="sec-title p-b-60">
        <h3 class="m-text5 t-center">
          New Arrivals
        </h3>
      </div>

      <!-- Slide2 -->
      <div class="wrap-slick2">
        <div class="slick2">

          <div class="item-slick2 p-l-15 p-r-15">
            <!-- Block2 -->
            <div class="block2">
              <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                <img src="https://theddbucket.s3.amazonaws.com/uploads/product/previewo/129/1.jpg" alt="IMG-PRODUCT">

                <div class="block2-overlay trans-0-4">
                  <a href="/products/129" class="block2-btn-addwishlist hov-pointer trans-0-4">
                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                  </a>

                  <div class="block2-btn-addcart w-size1 trans-0-4">
                    <!-- Button -->
                      <a href="/products/129" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                      Add to Cart
                      </a>
                    
                  </div>
                </div>
              </div>

              <div class="block2-txt p-t-20">
                <a href="/products/129" class="block2-name dis-block s-text3 p-b-5">
                 Denny Dots Royal Silver Sofa
              
              </a>
              Our Price:
                <span class="block2-oldprice m-text7 p-r-5">
                 Rs 66,500
                </span>
                <br>

                <span class="block2-newprice m-text8 p-r-5" style="color:#FF9E1B;">
                  Offer Price: Rs 39,900
                </span>
              </div>
            </div>
          </div>

          <div class="item-slick2 p-l-15 p-r-15">
            <!-- Block2 -->
            <div class="block2">
              <div class="block2-img wrap-pic-w of-hidden pos-relative">
                <img src="https://theddbucket.s3.amazonaws.com/uploads/product/previewo/125/222.jpg" alt="IMG-PRODUCT">

                <div class="block2-overlay trans-0-4">
                  <a href="/products/125" class="block2-btn-addwishlist hov-pointer trans-0-4">
                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                  </a>

                  <div class="block2-btn-addcart w-size1 trans-0-4">
                    <!-- Button -->
                    <a href="/products/125" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                      Add to Cart
                      </a>
                  </div>
                </div>
              </div>

              <div class="block2-txt p-t-20">
                <a href="/products/125" class="block2-name dis-block s-text3 p-b-5">
                  DennyDots 2 Piece Sectional Sofa
                </a>
                Our Price:
                <span class="block2-oldprice m-text7 p-r-5">
                 Rs 85,600
                </span>
                <br>

                <span class="block2-newprice m-text8 p-r-5" style="color:#FF9E1B;">
                  Offer Price: Rs. 34,240
                </span>
              </div>
            </div>
          </div>

          <div class="item-slick2 p-l-15 p-r-15">
            <!-- Block2 -->
            <div class="block2">
              <div class="block2-img wrap-pic-w of-hidden pos-relative">
                <img src="https://theddbucket.s3.amazonaws.com/uploads/product/previewo/131/1.jpg" alt="IMG-PRODUCT">

                <div class="block2-overlay trans-0-4">
                  <a href="/products/131" class="block2-btn-addwishlist hov-pointer trans-0-4">
                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                  </a>

                  <div class="block2-btn-addcart w-size1 trans-0-4">
                    <!-- Button -->
                    <a href="/products/131" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                      Add to Cart
                      </a>
                  </div>
                </div>
              </div>

              <div class="block2-txt p-t-20">
                <a href="/products/131" class="block2-name dis-block s-text3 p-b-5">
                  Denny Dots Comfort Sofa 
                </a>
                Our Price:
                <span class="block2-oldprice m-text7 p-r-5">
                 Rs 73,900
                </span>
                <br>

                <span class="block2-newprice m-text8 p-r-5" style="color:#FF9E1B;">
                  Offer Price: Rs. 29,560
                </span>
              </div>
            </div>
          </div>

          <div class="item-slick2 p-l-15 p-r-15">
            <!-- Block2 -->
            <div class="block2">
              <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
                <img src="https://theddbucket.s3.amazonaws.com/uploads/product/previewo/136/7.1.png" alt="IMG-PRODUCT">

                <div class="block2-overlay trans-0-4">
                  <a href="/products/136" class="block2-btn-addwishlist hov-pointer trans-0-4">
                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                  </a>

                  <div class="block2-btn-addcart w-size1 trans-0-4">
                    <!-- Button -->
                    <a href="/products/136" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                      Add to Cart
                      </a>
                  </div>
                </div>
              </div>

              <div class="block2-txt p-t-20">
                <a href="/products/136" class="block2-name dis-block s-text3 p-b-5">
                  Denny Dots Bench DDB007
                </a>
                Our Price:
                <span class="block2-oldprice m-text7 p-r-5">
                   Rs 29,800
                </span>
                <br>

                <span class="block2-newprice m-text8 p-r-5" style="color:#FF9E1B;">
                  Offer Pric: Rs 14,900
                </span>
              </div>
            </div>
          </div>

          

    </div>
  </section>
  <hr>




  <section class="newproduct bgwhite p-t-45 p-b-105">
    <div class="container">
      <div class="sec-title p-b-60">
        <h3 class="m-text5 t-center">
          DennyDots Populars
        </h3>
      </div>

      <!-- Slide2 -->
      <div class="wrap-slick2">
        <div class="slick2">

          <div class="item-slick2 p-l-15 p-r-15">
            <!-- Block2 -->
            <div class="block2">
              <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                <img src="https://theddbucket.s3.amazonaws.com/uploads/product/previewo/37/1__1_.jpg" alt="IMG-PRODUCT">

                <div class="block2-overlay trans-0-4">
                  <a href="/products/37" class="block2-btn-addwishlist hov-pointer trans-0-4">
                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                  </a>

                  <div class="block2-btn-addcart w-size1 trans-0-4">
                    <!-- Button -->
                      <a href="/products/37" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                      Add to Cart
                      </a>
                    
                  </div>
                </div>
              </div>

              <div class="block2-txt p-t-20">
                <a href="/products/37" class="block2-name dis-block s-text3 p-b-5">
                  Denny Dots Sofa
              
              </a>
              Our Price:
                <span class="block2-oldprice m-text7 p-r-5">
                 Rs 46,700
                </span>
                <br>

                <span class="block2-newprice m-text8 p-r-5" style="color:#FF9E1B;">
                  Offer Price: Rs 23,350
                </span>
              </div>
            </div>
          </div>

          <div class="item-slick2 p-l-15 p-r-15">
            <!-- Block2 -->
            <div class="block2">
              <div class="block2-img wrap-pic-w of-hidden pos-relative">
                <img src="https://theddbucket.s3.amazonaws.com/uploads/product/previewo/36/7k_3_sheeter_10_days.jpg" alt="IMG-PRODUCT">

                <div class="block2-overlay trans-0-4">
                  <a href="/products/36" class="block2-btn-addwishlist hov-pointer trans-0-4">
                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                  </a>

                  <div class="block2-btn-addcart w-size1 trans-0-4">
                    <!-- Button -->
                    <a href="/products/36" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                      Add to Cart
                      </a>
                  </div>
                </div>
              </div>

              <div class="block2-txt p-t-20">
                <a href="/products/36" class="block2-name dis-block s-text3 p-b-5">
                  DennyDots Andros Sofa
                </a>
                Our Price:
                <span class="block2-oldprice m-text7 p-r-5">
                 Rs 85,400
                </span>
                <br>

                <span class="block2-newprice m-text8 p-r-5" style="color:#FF9E1B;">
                  Offer Price: Rs. 34,160
                </span>
              </div>
            </div>
          </div>

          <div class="item-slick2 p-l-15 p-r-15">
            <!-- Block2 -->
            <div class="block2">
              <div class="block2-img wrap-pic-w of-hidden pos-relative">
                <img src="https://theddbucket.s3.amazonaws.com/uploads/product/previewo/126/6__2_11.jpg" alt="IMG-PRODUCT">

                <div class="block2-overlay trans-0-4">
                  <a href="/products/126" class="block2-btn-addwishlist hov-pointer trans-0-4">
                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                  </a>

                  <div class="block2-btn-addcart w-size1 trans-0-4">
                    <!-- Button -->
                    <a href="/products/126" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                      Add to Cart
                      </a>
                  </div>
                </div>
              </div>

              <div class="block2-txt p-t-20">
                <a href="/products/126" class="block2-name dis-block s-text3 p-b-5">
                  Denny Dots Royal Gray Carver Sofa
                </a>
                Our Price:
                <span class="block2-oldprice m-text7 p-r-5">
                 Rs 79,600
                </span>
                <br>

                <span class="block2-newprice m-text8 p-r-5" style="color:#FF9E1B;">
                  Offer Price: Rs. 31,840
                </span>
              </div>
            </div>
          </div>

          <div class="item-slick2 p-l-15 p-r-15">
            <!-- Block2 -->
            <div class="block2">
              <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
                <img src="https://theddbucket.s3.amazonaws.com/uploads/product/previewo/128/2.jpg" alt="IMG-PRODUCT">

                <div class="block2-overlay trans-0-4">
                  <a href="/products/128" class="block2-btn-addwishlist hov-pointer trans-0-4">
                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                  </a>

                  <div class="block2-btn-addcart w-size1 trans-0-4">
                    <!-- Button -->
                    <a href="/products/128" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                      Add to Cart
                      </a>
                  </div>
                </div>
              </div>

              <div class="block2-txt p-t-20">
                <a href="/products/128" class="block2-name dis-block s-text3 p-b-5">
                  Denny Dots TWO ways to arrange sectional Sofa
                </a>
                Our Price:
                <span class="block2-oldprice m-text7 p-r-5">
                   Rs 66,500
                </span>
                <br>

                <span class="block2-newprice m-text8 p-r-5" style="color:#FF9E1B;">
                  Offer Pric: Rs 39,900
                </span>
              </div>
            </div>
          </div>

          

    </div>
  </section>
  <!-- Banner2 -->
  <section class="banner2 bg5 p-t-55 p-b-55">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
          <div class="hov-img-zoom pos-relative">
            <img src="/assets/banner-08.jpg" alt="IMG-BANNER">

            <div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
              <span class="m-text9 p-t-45 fs-20-sm">
                The Beauty
              </span>

              <h3 class="l-text1 fs-35-sm">
                Of the Bedroom
              </h3>

              <a href="/welcome/stb" class="s-text4 hov2 p-t-20 ">
                View Collection
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
          <div class="hov-img-zoom pos-relative">
            <img src="/assets/decor.jpg" style="height:360px;" alt="IMG-BANNER">

            <div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
              <span class="m-text9 p-t-45 fs-20-sm" style="color:#000;">
                Your Home
              </span>

              <h3 class="l-text1 fs-35-sm" style="color:#000;">
                Resembles You
              </h3>

              <a href="/interiors/new" class="s-text4 hov2 p-t-20 " style="color:#000;">
                DennyDots <span style="color:#FF9E1B;"><b>Décor</b></span><b>Works</b>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  


  <!-- Shipping -->
  <section class="shipping bgwhite p-t-62 p-b-46">
    <div class="flex-w p-l-15 p-r-15">
      <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
        <h4 class="m-text12 t-center">
          Free Delivery in Kolkata
        </h4>

        <a href="/welcome/delivery" class="s-text11 t-center">
          Click here for more info
        </a>
      </div>

      <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
        <h4 class="m-text12 t-center">
          Easy EMI Option
        </h4>

        <span class="s-text11 t-center">
          Shop without worry with easy EMI.
        </span>
      </div>

      <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
        <h4 class="m-text12 t-center">
          Store Opening
        </h4>

        <span class="s-text11 t-center">
          Support open 24X7
        </span>
      </div>
    </div>
  </section>





  <!-- Back to top -->
  <div class="btn-back-to-top bg0-hov" id="myBtn">
    <span class="symbol-btn-back-to-top">
      <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </span>
  </div>

  <!-- Container Selection1 -->
  <div id="dropDownSelect1"></div>



</body>
</html>