<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/set1.css">
  <link rel="stylesheet" href="/assets/style.scss">

</head>
<body>
<div class="container-fluid section-title ">
      <div class="container py-4">
        <h3 class="text-center trending-section">Christmas Special <span>Chairs</span></h3>
        <hr>
      </div>
</div>

<div class="container-fluid product-carousel my-2">
<div class="container my-2 px-2">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">

        
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="/products/41">
                  <img src="/assets/na1.jpg" style="height:250px;" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Denny Dots black canvas </h4>
              <p class="text-center"><small>The handsome Denny Dots  sofa is a black canvas for you to style to your heart’s content.</small></p>
              <span class="product-price">
              <p class="text-center d-inline strike" >Price: 79,000</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              <br>
                Offer Price: 69,000
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="/products/41" class="btn btn-lg " role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>

      
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="/proucts/33">
                  <img src="/assets/na2.jpg" style="height:250px;" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Chic Design Chair</h4>
              <p class="text-center"><small>The modestly scaled Engineer Denny Dots chair is a chic design feat. Perfect for a corner spot or entryway.</small></p>
              <span class="product-price">
              <p class="text-center d-inline strike" >Price: 19,000</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              <br>
                Offer Price: 17,000
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="/products/33" class="btn btn-lg " role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>

       
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="/products/42">
                  <img src="/assets/na3.jpg" style="height:250px;" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Cozy Dining Set</h4>
              <p class="text-center"><small>Choosing the right space for a breakfast nook here Denny Dots made easy with the Choices 3-piece dining set.</small></p>
              <span class="product-price">
              <p class="text-center d-inline strike" >Price: 48,860</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              <br>
                Offer Price: 34,900
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="/products/42" class="btn btn-lg " role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>
      </div>
    </div>

</div>
</div>
</div>
</div>


<hr>



<div class="container-fluid section-title ">
      <div class="container py-4">
        <h3 class="text-center trending-section">Christmas Special <span>Sofas</span></h3>
        <hr>
      </div>
</div>

<div class="container-fluid product-carousel my-2">
<div class="container my-2 px-2">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">

        
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="/products/41">
                  <img src="/assets/os1.jpg" style="height:250px;" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">Denny Dots Sparking Canvas </h4>
              <p class="text-center"><small>Talk about fine and great curves That’s the beauty of the Denny Dots sofa for you to style.</small></p>
              <span class="product-price">
              <p class="text-center d-inline strike" >Price: 41,300</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              <br>
                Offer Price: 29,500
              </span>
              </div>
              <br>
              <br>
              <div class="product-btn py-2 text-center">
              <a href="/products/41" class="btn btn-lg " role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>

      
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="/proucts/33">
                  <img src="/assets/os2.jpg" style="height:250px;" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">DennyDots Royal Canvas</h4>
              <p class="text-center"><small>A striking flared frame, comfy  top headrests pillow and low armrests and an ultra-soft upholstery that holds up to everyday living.</small></p>
              <span class="product-price">
              <p class="text-center d-inline strike" >Price: 48,300</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              <br>
                Offer Price: 34,500
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="/products/33" class="btn btn-lg " role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>

       
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="/products/42">
                  <img src="/assets/os3.jpg" style="height:250px;" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">DennyDots Classic Canvas</h4>
              <p class="text-center"><small>this fashion statement with its extraordinary comfort and support and richly textured upholstery steals the show.</small></p>
              <span class="product-price">
              <p class="text-center d-inline strike" >Price: 62,300</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              <br>
                Offer Price: 44,500
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="/products/42" class="btn btn-lg " role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>
      </div>
    </div>

</div>
</div>
</div>
</div>







<hr>





<div class="container-fluid section-title ">
      <div class="container py-4">
        <h3 class="text-center trending-section">Sofas For Every <span>Corner</span></h3>
        <hr>
      </div>
</div>

<div class="container-fluid product-carousel my-2">
<div class="container my-2 px-2">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">

        
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="/products/41">
                  <img src="/assets/se1.jpg" style="height:250px;" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">DennyDots Cozy Sofa 1 </h4>
              <p class="text-center"><small>mbrace a higher form of style and comfort with the alluring Denny Dots sofa.</small></p>
              <span class="product-price">
              <p class="text-center d-inline strike" >Price: 36,620</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              <br>
                Offer Price: 25,900
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="/products/41" class="btn btn-lg " role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>

      
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="/proucts/33">
                  <img src="/assets/se2.jpg" style="height:250px;" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">DennyDots Cozy Sofa 2</h4>
              <p class="text-center"><small>mbrace a higher form of style and comfort with the alluring Denny Dots sofa.</small></p>
              <span class="product-price">
              <p class="text-center d-inline strike" >Price: 36,620</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              <br>
                Offer Price: 25,900
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="/products/33" class="btn btn-lg " role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>

       
        <div class="col col-md-4 col-sm-4">
            <div class="product-grid">
              <div class="image">
                <a href="/products/42">
                  <img src="/assets/se3.jpg" style="height:250px;" alt="" class="img-fluid">
                  <span class="overlay">
                      <span class="product-details">
                        View Details
                      </span>
                  </span>
                </a>
              </div>
              <div class="product-discription py-3">
              <h4 class="text-center">DennyDots Cozy Sofa 3</h4>
              <p class="text-center"><small>mbrace a higher form of style and comfort with the alluring Denny Dots sofa.</small></p>
              <span class="product-price">
              <p class="text-center d-inline strike" >Price: 33,600</p><i class="fa fa-heart d-inline" aria-hidden="true"></i>
              <br>
                Offer Price: 24,000
              </span>
              </div>
              <div class="product-btn py-2 text-center">
              <a href="/products/42" class="btn btn-lg " role="button" aria-pressed="true">ADD TO CART</a>
              </div>
            </div>
        </div>
      </div>
    </div>

</div>
</div>
</div>
</div>
</body>