
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/set1.css">
  <link rel="stylesheet" href="/assets/style.scss">

</head>
<div class="container-fluid section-title ">
      <div class="container py-4">
        <h3 class="text-center trending-section">It's All About <span>Sofas</span></h3>
        <hr>
      </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col col-md-6 d-flex justify-content-center">
      <div class="grid">
        <figure class="effect-roxy">
          <img src="/assets/oss.jpg" alt="img15">
          <figcaption>
            <h2><span class="text-color-effect">O</span>ne <span>Seater Sofas</span></h2>
            
            <a href="/welcome/oss">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col col-md-6 d-flex justify-content-center">
      <div class="grid">
        <figure class="effect-roxy">
          <img src="/assets/tss.jpg" alt="img15">
          <figcaption>
            <h2><span class="text-color-effect">T</span>wo <span>Seater Sofas</span></h2>
            
            <a href="/welcome/tss">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>



<div class="container my-5">
  <div class="row">
    <div class="col col-md-6 d-flex justify-content-center">
      <div class="grid">
        <figure class="effect-roxy">
          <img src="/assets/thss.jpg" alt="img15">
          <figcaption>
            <h2><span class="text-color-effect">T</span>hree <span>Seater Sofas</span></h2>
            
            <a href="/welcome/thss">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col col-md-6 d-flex justify-content-center">
      <div class="grid">
        <figure class="effect-roxy">
          <img src="/assets/lshapedsofa.jpg" alt="img15">
          <figcaption>
            <h2><span class="text-color-effect">L</span>Shaped <span>Corner Sofas</span></h2>
            
            <a href="/welcome/lss">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>



    <div class="col col-md-6 d-flex justify-content-center">
      <div class="grid">
        <figure class="effect-roxy">
          <img src="https://theddbucket.s3.amazonaws.com/uploads/product/previewo/128/2.jpg" alt="img15">
          <figcaption>
            <h2><span class="text-color-effect">F</span>abricated <span>Sofa Set</span></h2>
            
            <a href="/welcome/fss">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>