<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="icon" type="image/png" href="/assets/favicon.png"/>
  
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/font-awesome.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/themify-icons.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/icon-font.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/animate.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/hamburgers.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/animsition.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/select2.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/daterangepicker.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/slick.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/lightbox.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/util.css">
  <link rel="stylesheet" type="text/css" href="/assets/main.css">
<!--===============================================================================================-->
</head>


  <!-- Header -->
  <header class="header1">
    <!-- Header desktop -->
    <div class="container-menu-header">
      <div class="topbar">
        <div class="topbar-social">
          <a href="http://facebook.com/dennydots" class="topbar-social-item fa fa-facebook"></a>
              <a href="instagram.com/dennydotsofficial/" class="topbar-social-item fa fa-instagram"></a>
              <a href="https://plus.google.com/105624518761001389493" class="topbar-social-item fa fa-google"></a>
              <a href="https://youtu.be/RnMmkzXn-KM" class="topbar-social-item fa fa-youtube-play"></a>
        </div>

        <span class="topbar-child1">
          Free shipping in all over Kolkata
        </span>

        <div class="topbar-child2">
          <span class="topbar-email">
            info@dennydots.com
          </span>

          <span class="topbar-email">
            <i class="fa fa-whatsapp fa-2x d-inline" aria-hidden="true"></i>
          <a href="https://api.whatsapp.com/send?phone=919748444800">9748 444 800</a>
          </span>
        </div>
      </div>

      <div class="wrap_header">
        <!-- Logo -->
        <a href="index.html" class="logo">
          <img src="/assets/logo.png" alt="IMG-LOGO">
        </a>

        <!-- Menu -->
        <div class="wrap_menu">
          <nav class="menu">
            <ul class="main_menu">
              <li>
                <a href="/welcome/index">Home</a>
                
              </li>

              <li>
                <a href="/welcome/sofas">Sofas</a>
              </li>

              <li class="sale-noti">
                <a href="/welcome/chair">Chairs</a>
              </li>

              <li>
                <a href="/welcome/ksb">Beds</a>
              </li>

              <li>
                <a href="/custom/new">Customisation</a>
              </li>

              <li>
                <a href="/interior/new">Interior</a>
              </li>

              <li>
                <a href="/welcome/contact">Contact</a>
              </li>
            </ul>
          </nav>
        </div>

        <!-- Header Icon -->
        <div class="header-icons">
          <a href="/users/sign_in" class="header-wrapicon1 dis-block">
            <img src="/assets/icon-header-01.png" class="header-icon1" alt="ICON">
          </a>

          <span class="linedivide1"></span>

          <div class="header-wrapicon2">
            <img src="/assets/icon-header-02.png"  alt="ICON">
            <span class="header-icons-noti"><%= link_to pluralize(current_cart.items_count, ''), cart_path %></span>

            <!-- Header cart noti -->
            <div class="header-cart header-dropdown">
              <ul class="header-cart-wrapitem">
                <li class="header-cart-item">
                  <div class="header-cart-item-img">
                    <img src="/assets/item-cart-01.jpg" alt="IMG">
                  </div>

                  <div class="header-cart-item-txt">
                    <a href="#" class="header-cart-item-name">
                      DennyDots Black Canvas
                    </a>

                    <span class="header-cart-item-info">
                      1 x Rs.36,500.00
                    </span>
                  </div>
                </li>

                <li class="header-cart-item">
                  <div class="header-cart-item-img">
                    <img src="/assets/item-cart-02.jpg" alt="IMG">
                  </div>

                  <div class="header-cart-item-txt">
                    <a href="#" class="header-cart-item-name">
                      DennyDots Brown Canvas
                    </a>

                    <span class="header-cart-item-info">
                      1 x Rs.35,500.00
                    </span>
                  </div>
                </li>

                <li class="header-cart-item">
                  <div class="header-cart-item-img">
                    <img src="/assets/item-cart-03.jpg" alt="IMG">
                  </div>

                  <div class="header-cart-item-txt">
                    <a href="#" class="header-cart-item-name">
                      DennyDots Blue Canvas
                    </a>

                    <span class="header-cart-item-info">
                      1 x Rs.30,500.00
                    </span>
                  </div>
                </li>
              </ul>

              <div class="header-cart-total">
                Total: Rs.97,000.00
              </div>

              <div class="header-cart-buttons">
                <div class="header-cart-wrapbtn">
                  <!-- Button -->
                  <a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                    View Cart
                  </a>
                </div>

                <div class="header-cart-wrapbtn">
                  <!-- Button -->
                  <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                    Check Out
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap_header_mobile">
      <!-- Logo moblie -->
      <a href="index.html" class="logo-mobile">
        <img src="/assets/logo.png" alt="IMG-LOGO">
      </a>

      <!-- Button show menu -->
      <div class="btn-show-menu">
        <!-- Header Icon mobile -->
        <div class="header-icons-mobile">
          <a href="/users/sign_in" class="header-wrapicon1 dis-block">
            <img src="/assets/icon-header-01.png" class="header-icon1" alt="ICON">
          </a>

          <span class="linedivide2"></span>

          <div class="header-wrapicon2">
            <img src="/assets/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
            <span class="header-icons-noti"><%= link_to pluralize(current_cart.items_count, ''), cart_path %></span>

            <!-- Header cart noti -->
            <div class="header-cart header-dropdown">
              <ul class="header-cart-wrapitem">
                <li class="header-cart-item">
                  <div class="header-cart-item-img">
                    <img src="/assets/item-cart-01.jpg" alt="IMG">
                  </div>

                  <div class="header-cart-item-txt">
                    <a href="#" class="header-cart-item-name">
                      White Shirt With Pleat Detail Back
                    </a>

                    <span class="header-cart-item-info">
                      1 x $19.00
                    </span>
                  </div>
                </li>

                <li class="header-cart-item">
                  <div class="header-cart-item-img">
                    <img src="/assets/item-cart-02.jpg" alt="IMG">
                  </div>

                  <div class="header-cart-item-txt">
                    <a href="#" class="header-cart-item-name">
                      Converse All Star Hi Black Canvas
                    </a>

                    <span class="header-cart-item-info">
                      1 x $39.00
                    </span>
                  </div>
                </li>

                <li class="header-cart-item">
                  <div class="header-cart-item-img">
                    <img src="/assets/item-cart-03.jpg" alt="IMG">
                  </div>

                  <div class="header-cart-item-txt">
                    <a href="#" class="header-cart-item-name">
                      Nixon Porter Leather Watch In Tan
                    </a>

                    <span class="header-cart-item-info">
                      1 x $17.00
                    </span>
                  </div>
                </li>
              </ul>

              <div class="header-cart-total">
                Total: $75.00
              </div>

              <div class="header-cart-buttons">
                <div class="header-cart-wrapbtn">
                  <!-- Button -->
                  <a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                    View Cart
                  </a>
                </div>

                <div class="header-cart-wrapbtn">
                  <!-- Button -->
                  <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                    Check Out
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </div>
      </div>
    </div>

    <!-- Menu Mobile -->
    <div class="wrap-side-menu" >
      <nav class="side-menu">
        <ul class="main-menu">
          <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
            <span class="topbar-child1">
              Free shipping for standard all over Kolkata
            </span>
          </li>

          <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
            <div class="topbar-child2-mobile">
              <span class="topbar-email">
                info@dennydots.com
              </span>

              
            </div>
          </li>

          <li class="item-topbar-mobile p-l-10">
            <div class="topbar-social-mobile">
              <a href="http://facebook.com/dennydots" class="topbar-social-item fa fa-facebook"></a>
              <a href="instagram.com/dennydotsofficial/" class="topbar-social-item fa fa-instagram"></a>
              <a href="https://plus.google.com/105624518761001389493" class="topbar-social-item fa fa-google"></a>
              <a href="https://youtu.be/RnMmkzXn-KM" class="topbar-social-item fa fa-youtube-play"></a>
            </div>
          </li>

          <li class="item-menu-mobile">
            <a href="/welcome/index">Home</a>
            
            <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
          </li>

          <li class="item-menu-mobile">
            <a href="/welcome/sofas">Sofas</a>
          </li>

          <li class="item-menu-mobile">
            <a href="/welcome/chair">Chairs</a>
          </li>

          <li class="item-menu-mobile">
            <a href="/welcome/ksb">Beds</a>
          </li>

          <li class="item-menu-mobile">
            <a href="/custom/new">Customization</a>
          </li>

          <li class="item-menu-mobile">
            <a href="/interior/new">Interior</a>
          </li>

          <li class="item-menu-mobile">
            <a href="/welcome/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>